@import '_vars';

// **** COMPONENT ****
section.wrapper {
  margin-top: 2rem;
  width: 100%;


}

// **** SEARCH ****
section.search {
  display: flex;
  justify-content: center;

  padding: 1rem;
  border-radius: 4px;
}