// Layout >> Width
$app-max-width: 1200px;
$app-link-color: #ba0000;

// Layout >> Header
$header-background: #717be3;
$header-height: 40px;

// Layout >> Container
$container-background: #ffffff;
$container-wrapper-background: #ffffff;
$container-min-height: calc(100vh - 40px - 60px);

// Layout >> Footer
$footer-background: #b8b8b8;
$footer-height: 60px;

// Buttons
$button-search: #717be3;
$button-generator: #8ee371;