// Palette
$pink:    #E37171;
$orange:  #FFC76E;
$white:   #FFFFFF;
$black:   #333333;
$gray:    #707070;
$blue:    #717BE3;

// Layout >> Width
$app-max-width: 1000px;
$app-link-color: #ba0000;

// Layout >> Header
$header-background: $blue;
$header-height: 20px;

// Layout >> Container
$container-background: $orange;
$container-wrapper-background: $orange;
$container-min-height: calc(100vh - 116px);

// Layout >> Footer
$footer-background: #b8b8b8;
$footer-height: 60px;