@import '_vars';

  // **** COMPONENT ****
  section.wrapper {
    align-items: center;
    width: 100%;
    height: 100%;
  }

  // **** SEARCH ****
  section.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      margin-bottom: 20px;

      // border: 1px solid black;
    }

    form > .item {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 6px 0;

      input {
        width: 380px;
        max-width: 80%;
        height: 40px;
        border-radius: 50px;
        border: 0;
        padding: 0 20px;
        font-size: 1.5rem;
        // margin: 0 20px;
      }

      button {
        width: 200px;
        height: 40px;
        border-radius: 50px;
        border: 0;
      }
    }
  }


  // **** RESULTS *****
  section.result {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;

    // **** AVAILABLE & TAKEN ****
    .item > active, .item > inactive {
      img {
        width: 30px;
      }
    }

    // **** AVAILABLE ****
    inactive {
      background: green;
    }

    // **** TAKEN ****
    active {
      background: red;
    }
  }