@import '_vars';

.wrapper {
  display: flex;
  width: stretch;

  // border: 1px white solid;

  .logo {
    width: stretch;


    .title {
      font-size: 2.25rem;
      font-weight: 600;
      line-height: 2.6rem;
      padding-bottom: .6rem;
    }
  }

  .nav {
    width: stretch;
    // align-self: flex-end;
    align-self: center;
    text-align: right;
    font-weight: 600;

    span {
      padding: 6px;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}