@import '_vars';

// **************
// **** PAGE ****
section.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// ******************
// **** Hero Box ****
section.heroBox {
  width: 50%;

  div.icon {
    padding: 10px;
    font-size: 14px;
  }
}

// ********************
// **** Search Box ****
section.searchBox {
  width: 50%;
}


// **** Afilliate Tag ****

.digitalOcean {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 2rem;
  font-size: 20px;
}